<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nova mensagem de, <%= @contact.name %></h1>
    <h1> <%= @contact.subject %>
    <p>
       <%= @contact.content %>.<br>
    </p>
    <p>
      <%= @contact.email %>.
    </p>
  </body>
</html>